/* COLORS */

:root {
    --primary-color: #31b6eb;
    --second-color: #00BCD4;
    --white-color: #ffffff;
    --gray-color: #ddd;
    --black-color: #000000;
    --black-color-medium: #0c0c0c;
    --semi-black: #1e1e1e;
    --blue-dark: #1E1938;
}


/* GRID NORMAL 12 COLUMNS */

.container {
    width: 100%;
    max-width: 1246px;
    margin: 0 auto;
    padding: 0rem 1.5rem;
}


/* GRID FLUID 100% */

.container-fluid {
    width: 100%;
    padding: 0px 18px;
}


/* TITLE PATTERNS */

h2 {
    font-family: "Inter";
    font-weight: 800;
    font-size: 6.4rem;
    line-height: 7.7rem;
    color: var(--white-color);
    margin-top: 1rem;
}

h2 span {
    color: var(--primary-color);
}

.btn-primary {
    border-radius: 10px;
    font-weight: 700;
    line-height: 2.4rem;
    font-size: 1.6rem;
    background-color: var(--primary-color);
    color: var(--black-color);
    padding: 1rem 2.6rem;
    transition: all 0.2s;
}

.btn-primary:hover {
    background-color: var(--white-color);
    transform: scale(1.04);
}

.btn-primary.empty {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
    background-color: transparent;
    transition: all 0.3s;
}

.btn-primary.empty:hover {
    color: var(--black-color);
    background-color: var(--primary-color);
}

.menu-item {
    display: inline-block;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    transition: all 0.2s;
}

.menu-item:hover {
    color: var(--white-color);
    transform: scale(1.04);
}

.tag {
    border-radius: 5rem;
    padding: 0.6rem 2.7rem;
    background-color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 300;
}

.icon-social img{
    transition: all 0.2s;
    height: 3.5rem;
    background-color:var(--blue-dark);
    padding: 0.8rem;
    border-radius: 0.5rem;
}


/* FORM PATTERN */

input[type="text"],
input[type="email"],
textarea {
    background-color: var(--white-color);
    border: 3px solid var(--white-color);
    border-radius: 0.4rem;
    width: 100%;
    padding: 2rem;
    resize: none;
    color: var(--black-color);
    outline: none;
    transition: all 0.4s;
    box-sizing: border-box;
}

input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover,
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 3px solid var(--primary-color);
    
}
