@media (max-width: 1261px) {

    .s-hero .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .s-hero .container .hello-image img {
        display: none;
    }   

    .s-success .container {
        flex-direction: column;
    }
    .s-success .container .title-success {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .s-success .container .title-success h2 {
        text-align: center;
    }

    .s-about .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .s-about .container .about-me h2,
    .s-about .container .about-me p {
        text-align: center;
    }

    .s-about .container .about-me ul {
        justify-content: center;
        margin-bottom: 2rem;
    }

    .s-about .container .my-picture {
        margin-top: 2rem;
    }

    .s-cases .container .title-cases h2 {
        text-align: center;
    }

    .s-cases .container .cases {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }

    .swiper-slide p{
        line-height: 2.2rem;
    } 

    .mySwiper{
        width: 400px;
    }

}

@media (max-width: 992px) {

    .s-contact .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .s-contact .container .title-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 4rem;
    }
    .s-contact .container .title-contact form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .input-button {
        justify-content: center;
    }
    .s-contact .container .form-contact {
        width: 100%;
        max-width: 100%;
    }

    .s-success .container .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4.4rem;
        width: 100%;
    }

    .s-success .container .cards .card{
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
    }
    .s-success .container .cards .card .card-title h3 {
        text-align: center;
        padding: 0;
        line-height: 7.7rem;
        margin-left: 14.5rem;
        margin-bottom: 2rem;
        margin-top: 5rem;
        align-self: center;
    }
}

@media (max-width: 624px) {
    html {
        font-size: 50.2%;
    }
    .s-about .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .s-about .container .my-picture {
        margin-top: 2rem;
    }
    .mySwiper{
        width: 300px; 
    }
}



@media (max-width: 484px) {
    .mySwiper{
        width: 250px;
    }
    .swiper-slide p{
        line-height: 1.8rem;
    }


    .s-hero .container {
        align-items: center;
        justify-content: space-between
    }
    
    .s-hero .container .title {
        align-items: center;
    }
    
    .s-hero .container .title h1 {
        text-align: center;
    }
    
    .s-hero .container .title h1 span {
        color: var(--primary-color);
    }
    
    .s-hero .container .title h2 {
        text-align: center;
    }
    
    .s-hero .container .title p {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.7rem;
        text-align: center;
        color: var(--second-color)
    }
    
}