body{
    background: linear-gradient(0deg, rgb(30, 25, 56) 30%, rgba(2,0,36,1) 100%);
}

/* HEADER */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 0px;
    z-index: 10;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

header .container .logo p{
    font-family: 'Times New Roman', Times, serif;
    color: var(--white-color);
    font-size: 3rem;
    cursor: pointer;
}

header .container nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .container nav .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header .container nav .menu li {
    margin-right: 4rem;
}

header .container nav .menu-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-left: 4rem;
    gap: 2em;
}

header .container nav .menu-social img:hover {
    filter: brightness(90%);
    transform: translateY(-10%);
}

.toggle {
    position: fixed;
    top: 2.5rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    background: var(--black-color-medium) url(../img/menu.png);
    background-size: 3rem;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 200;
    border-radius: 5px;
    visibility: hidden;
}


.toggle.active {
    background: var(--black-color-medium) url(../img/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--black-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: 0.5s;
    z-index: 150;
    right: -100%;
}

.sidebar.active {
    right: 0;
    top: 0;
    margin: 0;
}

.sidebar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar ul li {
    padding: 1rem;
    margin-bottom: 1rem;
}

.sidebar ul li a {
    color: #fff;
    font-size: 4rem;
    margin: 1rem 0 5rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 1rem;    
}

.sidebar ul li a:hover {
    color: var(--blue-dark);
}



/* SECTION HERO */

.s-hero {
    min-height: 100vh;
}

.s-hero .container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between
}

.s-hero .container .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 60rem;
    margin-top: 24rem;
    padding-bottom: 6rem;
}

.s-hero .container .title h1 {
    font-family: "Inter";
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 7.5rem;
    text-align: left;
    color: var(--white-color);
}

.s-hero .container .title h1 span {
    color: var(--primary-color);
}

.s-hero .container .title h2 {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.6rem;
    text-align: left;
    color: var(--gray-color);
    margin-bottom: 1rem;
}

.s-hero .container .title p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-align: left;
    color: var(--second-color)
}

.s-hero .container .title .techs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
    margin-top: 2.3rem;
}

.s-hero .container .title .techs a img {
    transition: all 0.2s;
}

.s-hero .container .title .techs a img:hover {
    filter: brightness(90%);
    transform: translateY(-10%);
}

.s-hero .container .title .btn-primary {
    margin-top: 4rem;
    padding: 1rem 5.6rem;
}

.s-hero .hello-image {
    display: flex;
    height: 60rem;
    padding: 2rem 1rem;
}


/* SECTION SUCCESS */

.s-success {
    padding: 14.4rem 0;
    margin: 0 auto;
    min-height: 90vh;
}

.s-success .container {
    display: flex;
    align-items: center;
    gap: 4.4rem;
}

.s-success .container .title-success h2 span {
    font-family: "Inter", sans-serif;
}

.s-success .container .cards {
    display: flex;
}

.s-success .container .cards .card {
    width: 27.9rem;
    height: 30.4rem;
    background-color: var(--white-color);
    border-radius: 4px;
    margin-right: 3.3rem;
    cursor: pointer;
    transition: all ease 0.2s;
}

.s-success .container .cards .card:hover {
    filter: brightness(90%);
    transform: scale(1.04);
}

.s-success .container .cards .card.active {
    background-color: var(--primary-color);
}

.s-success .container .cards .card:last-child {
    margin-right: 0;
}

.s-success .container .cards .card .card-title {
    margin: 5rem 0;
    padding-right: 14.5rem;
    padding-left: 1.4rem;
}

.s-success .container .cards .card .card-info {
    padding-left: 1.4rem;
}

.s-success .container .cards .card .card-title h3 {
    font-family: "Inter";
    font-weight: 300;
    font-size: 6.4rem;
    line-height: 7.7rem;
    margin-bottom: 5.5rem;
}

.s-success .container .cards .card .card-info p {
    font-family: "Inter";
    font-weight: 300;
    font-size: 2.8rem;
    line-height: 3.9rem;
}


/* ABOUT */

.s-about {
    /* background-color: var(--black-color-medium); */
    padding: 6rem 0;
}

.s-about .container {
    display: flex;
    justify-content: space-between;
    min-height: 80vh;
}

.s-about .container .about-me {
    width: 100%;
    max-width: 71rem;
}

.s-about .container .about-me p {
    font-weight: 400;
    line-height: 2.4rem;
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.83);
    margin-top: 2.4rem;
}

.s-about .container .about-me ul {
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
    margin-top: 3.2rem;
}

.s-about .container .about-me ul li a img {
    transition: all 0.2s;
}

.s-about .container .about-me ul li a img:hover {
    transform: translateY(-12%);
    filter: brightness(80%);
}

.s-about .container .my-picture img {
    border-radius: 10px;
    height: 50rem;
}


/* PROJECTS */

.s-projects {
    min-height: 90vh;
}

.s-projects .container {
    display: flex;
    flex-direction: column;
}
.s-projects .container .title-projects {
    margin-bottom: 7.3rem;
}

.swiper {
    width: 100%;
    height: 50rem;
  }

 .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: start;  
    align-items: center;
    text-align: center;
    background: #eee;
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 0px;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }  

 .swiper-slide h3{
      font-size: 2.4rem;
  }

 .swiper-slide p{
    font-size: 1.6rem;
    padding: 1rem 3rem;
    height: 30%;
    text-align: left;
}

 .swiper-slide img {
    width: 100%;
    height: 45%;
    padding: 1.5rem;
    margin: 0;    
  }

 .card-footer .btn-primary{
      border: none;
      background-color: var(--second-color);
      color: var(--white-color);
      margin: 0.5rem;
  }

 .card-footer .btn-primary.empty{
    border: 2px solid var(--black-color-medium);
    color: var(--black-color-medium);
    background-color: transparent;
}

/* CONTACT */

.s-contact {
    padding-bottom: 4rem;
    min-height: 80vh;
}

.s-contact .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 20rem;
}

.s-contact .container .title-contact h2 {
    margin-bottom: 2.4rem;
}

.s-contact .container .form-contact {
    width: 100%;
    max-width: 48.6rem;
}

.s-contact .container .form-contact .input-group input[type="text"],
.s-contact .container .form-contact .input-group input[type="email"] {
    margin-bottom: 3.1rem;
}

.s-contact .container .form-contact .input-group textarea {
    margin-bottom: 0;
}

.input-button {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.s-contact .container .form-contact button {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: 500;
    padding: 1.2rem 5rem;
    border: none;
    margin-top: 1.7rem;
}


/* FOOTER */

footer {
    background-color: var(--black-color-medium);
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .container .copy {
    padding: 3rem 0;
}

footer .container .copy {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

